h1 {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-top:  50px;
}

p {
	font-size: 22px;
}

.text-center {
	text-align: center;
}

.red {
	color: red;
}

.blue {
	color: steelblue;
}

body {
	margin: 0px;
	height: 1000px;
}

header {
	padding: 0 40px;
	-webkit-box-shadow: -1px 19px 32px 12px rgba(226,203,87,0.49); 
box-shadow: -1px 19px 32px 12px rgba(26,123,87,0.49);
position: fixed;
width: 100%;
top: 0;
background-color: floralwhite;

}

header .header-container{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	max-width: 1200px;
	height: 50px;
	align-items: center;
}


@media(max-width:  500px) {h1
	font-size: 50px;
	
}