h1 {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-top:  90px;
	transition: all 0.5s;
	animation: fadeInUp 1s forwards 1;
}

@keyframes fadeInUp{
	from{
		opacity: 0;
		transform: translate3d(0px, 0px, 0px);
	} to{
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}
}

p {
	font-size: 22px;
	transition: all 0.5s;
	animation: fadeInUp 1s forwards 1;
}

.text-center {
	text-align: center;
}

.red {
	color: darkmagenta;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 90px;
}

.blue {
	color: steelblue;
}

.yellow {
	color: darkgoldenrod;
}

body {
	margin: 0px;
	height: 1000px;
	/*opacity: 0;*/
	
}

header {
	padding: 0 40px;
	
	z-index: 500;
	-webkit-box-shadow: 0px 2px 7px 6px rgba(22,22,22,0.82); 
	box-shadow: 0px 2px 7px 6px rgba(22,22,22,0.82);


	position: fixed;
	width: 100%;
	top: 0;
	background-color: floralwhite;

}

header .header-container{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	max-width: 1200px;
	height: 50px;
	align-items: center;
}


@media(max-width: 500px) {
	h1 {
		font-size: 30px;
	}

}

button {
	/*display:  block;*/
	height:  30px;
	width: 170px;
	font-style: oblique;
	font-size: 20px;
	background-color: darkslategrey;
	margin: 25px;
	opacity: 0;
	transition: all 0.6s;
	transition: all 0.5s;
	animation: fadeInUp 1s forwards 1;
	animation-delay: 0.6s;
}

button:hover {

	cursor: pointer;
	color: red;
	background-color: whitesmoke;
	margin-top: 30px;
}

.additional-text {


}

input  {

	height: 30px;
	width: 470px;
	background-color: lightsalmon;
	font-weight: bolder;
	margin: 5px;
	font-size: 20px;
	text-indent: 10px;
	letter-spacing: 1px;
	color: blueviolet;
	transition: all 0.5s;
	animation: fadeInUp 1s forwards 1;

}